.card{
    text-align:center;
    height:auto;
    border:solid;
    border-bottom:none;
    border-left:none;
    border-right:none;
    font-weight:bold;
    letter-spacing:30px;
}

#barra{
}

.footer{
    position:fixed;
    width:100%;
    bottom:0;
}
.nav-link{
    color:#06731A;
}


