<div id="barra">
  <nav class="navbar navbar-expand-md ">
    <a class="navbar-brand" href="#"><img width="50px" height="50px" src="../assets/img/Lápiz verde.png"></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a *ngIf="loginlogout()==''" class="nav-link" [routerLink]="['/Registro']">Registro</a>
          <a *ngIf="loginlogout()!=''" class="nav-link" [routerLink]="['/Entradas']">Entradas</a>
        </li>
        <li class="nav-item">
          <a *ngIf="loginlogout()==''" class="nav-link" [routerLink]="['/Login']">Login</a>
          <a *ngIf="loginlogout()!=''" class="nav-link" (click)="logoutUsuario()">Logout</a>
        </li>
        <li class="nav-item" *ngIf="loginlogout()!=''">
          <a class="nav-link" [routerLink]="['/NuevaEntrada']">Publica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/BuzonEnt/Perfil/Perfil']" href="#">Buzón</a>
        </li>
      </ul>
      </div>
      </nav>
      </div>
      <router-outlet></router-outlet>

      <!--Footer-->
     
      
    
 


