.index{
    background-size:cover
    
}
#barra{
    border-style:solid;
    border-right:none;
    border-left:none;
    border-top:none;
   
    color:#06731A;
}
.nav-item{
    font-size:large;
    font-weight:bolder;
}
nav{
    margin-left:30px;
}











